# WARNING: Please keep in mind that npm disregards .gitignore when there is a .npmignore file!

.github
.idea
.markdownlint.yaml
.vscode
CODEOWNERS
coverage
DEPLOY.md
doc
docs
docs_config.json
dist
images
jest.config.js
openhab-*.tgz
out
test

