# WARNING: Please keep in mind that npm disregards .gitignore when there is a .npmignore file!
# Do NOT ignore the build directory as the JS Scripting add-on build needs the webpack config.

.github
.idea
.vscode
dist
doc
docs
test

types/index.d.ts*

.eslintrc.js
.gitignore
.nvmrc
CODEOWNERS
CONTRIBUTING.md
DEPLOY.md
jest.config.js
openhab-*.tgz
typeOfArguments.js
