# WARNING: Please keep in mind that npm disregards .gitignore when there is a .npmignore file!

.github
.vscode
DEPLOY.md
docs
docs_config.json
dist
images
jest.config.js
openhab-*.tgz
out
test
tsconfig.json
webpack.config.js
.markdownlint.yaml
