# This file helps GitHub doing automatic review requests for new PRs.
# It should always list the active maintainers of the JavaScript library.

# Assign all PRs to the JavaScript maintainers:
*       @openhab/javascript-maintainers
