# From: https://github.com/openhab/openhab-docs/blob/main/.github/workflows/markdownlint.yml
# From: https://github.com/openhab/openhab-docs/blob/main/.github/workflows/brokenLinkCheck.yml

name: Check Markdown For Errors

# https://github.blog/2020-08-03-github-actions-improvements-for-fork-and-pull-request-workflows/

on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main

jobs:
  markdownlint:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v2
      - name: Run markdownlint-cli
        uses: nosborn/github-action-markdown-cli@v2.0.0
        with:
          files: .
          config_file: ".markdownlint.yaml"

  markdown-link-check:
    name: Check for broken links
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - uses: gaurav-nelson/github-action-markdown-link-check@v1
